

#text{
	position:relative;
	margin:0;
	padding:0;
	text-align: center;
	top:115px;
	left:100px;
	font-size: 2em;
}
#grid{
	display:grid;
	grid-template-columns: repeat(2,100px);
	grid-template-rows: repeat(2,100px);
	grid-gap:0px 0px;
	position: absolute;
	left: 50%;
}
#box1{
	background-color: red;
	grid-column:1/2;
	grid-row: 1/2;
	transition:1s;
}
#box2{
	background-color: yellow;
	grid-column:2/3;
	grid-row:1/2;
	transition:1s;
}
#box3{
	background-color: blue;
	grid-column:1/2;
	grid-row:2/3;
	transition:1s;
}
#box4{
	background-color: green;
	grid-column:2/3;
	grid-row:2/3;
	transition:1s;
}
#grid:hover #box1{
	transform:rotate(90deg);
	translate:-100px;
}
#grid:hover #box2{
	transform:rotate(-90deg);
	translate:100px;
}
#grid:hover #box3{
	transform:rotate(-90deg);
	translate:-100px;
}
#grid:hover #box4{
	transform:rotate(90deg);
	translate:100px;
}

/*first part below*/

#grid2{
	display:flex;
	flex-direction:column;
	width:500px;
	height:165px;
	justify-content: space-between;
}
#redbox{
	background-color:red;
	width:100px;
	height:75px;
	transition:1s;
}
#bluebox{
	background-color:blue;
	width:100px;
	height:75px;
	transition:1s 1s;
}
#grid2:hover #redbox{
	width:400px;
}
#grid2:hover #bluebox{
	width:400px;
}