body{
    margin: 0;
    box-sizing: border-box;
}

html, body, #container{/* just to make sure everything takes up the entire page*/
    height: 100%;
    width: 100%;
} 

#container{/* flex container just to center everything */
	display: flex;
	align-items: center;
	justify-content: center;
	background-size:100% 100%;
	background-image: url(../img/background.jpg);
	margin:0;
	padding: 0;
}
#gridContainer{/* 3x3 grid was required, so uh..this is the grid. vmin is used so theres a bit of nice spacing */
	display: grid;
	height: 75vmin;
	width: 75vmin;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: repeat(3,1fr);
	grid-gap: 0;

}
#timer{/* styling for the center timer */
	border-radius: 50%;
	background-color: #18191a;
	display: flex;
	align-items: center;
	justify-content: center;
	color:#dedede;
	font-size: 6.8vmin;
}
#minutes,#seconds{/*allows me to differentiate the minute and seconds input fields, in addition to making it pretty*/
	width: 8vmin;
	height: 7vmin;
	border: none;
	font-size: 1em;
	text-align: right;
	color: #dedede;
	background-color: #18191a;
	margin: 0;
	padding: 0;
}
.buttonContainer{/* the buttons don't need special and different styling */
	border-radius: 50%;
	background-color: #18191a;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color:#dedede;
	font-size: 7vmin;
}
.button{/* buttons are pretty */
	font-size: .5em;
	color: #dedede;
	border: none;
	background-color: #18191a;
	margin: .5vh;
}
.fancyCircle{ /* required, and also pretty */
	border-radius: 50%;
	opacity: 73%;
	background-image: linear-gradient(to top left, #24036b, #134870); 
}

/*
below is just some styling to make things look pretty
*/
.fancyCircle:hover{
	transition: .1s;
	opacity: 0;
}
.button:active{
	color:#677b8f;
}